template(name="login.social.view")
	.ui.two.column.centered.grid(style="height:100%")
		.middle.aligned.row
			.left.aligned.column
				.ui.raised.segments
					.ui.block.top.attached.large.header Login - Techno Business
					.ui.attached.segment
						img.ui.small.centered.image(src="/images/techno_business.png")
						br
						br
						a.ui.google.plus.button#loginGoogleEvent
							i.google.plus.icon 
							|Faça o Login pelo Google
							
					.ui.secondary.bottom.attached.raised.segment
						a.ui.violet.button(href="#{pathFor 'login.password.route'}") Use seu Email e Senha
						a.ui.button(href="#{pathFor 'home.route'}") Cancelar
						a.ui.teal.right.floated.button(href="#{pathFor 'register.route'}") Cadastre-se
				a.text.right.floated(href="#{pathFor 'password.route'}") Esqueceu sua Senha ?
