template(name="login.password.view")
	.ui.two.column.centered.grid(style="height:100%")
		.middle.aligned.row
			.left.aligned.column
				.ui.raised.segments
					.ui.block.top.attached.large.header Login - Techno Business
					.ui.attached.segment
						img.ui.small.centered.image(src="/images/techno_business.png")
						br
						br
						form.ui.form#login-form(method="post")
							.field
								label Usuário
								input#usernameField(type="text",name="username",placeholder="Nome de usuário")
							.field
								label Senha
								input#passwordField(type="password",name="password",placeholder="Sua senha")
							.actions
								button.ui.blue.fluid.button(type="submit",form="login-form") Entrar
					.ui.secondary.bottom.attached.raised.segment
						a.ui.violet.button(href="#{pathFor 'login.social.route'}") Use as Redes Sociais
						a.ui.button(href="#{pathFor 'home.route'}") Cancelar
						a.ui.teal.right.floated.button(href="#{pathFor 'register.route'}") Cadastre-se
				a.text.right.floated(href="#{pathFor 'password.route'}") Esqueceu sua Senha ?
