template(name="password.view")
	.ui.two.column.centered.grid(style="height:100%")
		.middle.aligned.row
			.left.aligned.column
				.ui.raised.segments
					.ui.block.top.attached.large.header Senha - Techno Business
					.ui.attached.segment
						img.ui.small.centered.image(src="/images/techno_business.png")
						br
						br
						form.ui.form#password-form(method="post")
							.field
								label Email
								input#emailField(type="text",name="email",placeholder="Seu Email")
					.ui.secondary.bottom.attached.raised.segment
						button.ui.orange.button(type="submit",form="password-form") Recuperar senha
						a.ui.button(href="#{pathFor 'home.route'}") Cancelar
						a.ui.blue.right.floated.button(href="#{pathFor 'login.route'}") Login
