template(name="register.view")
	.ui.two.column.centered.grid(style="height:100%")
		.middle.aligned.row
			.left.aligned.column
				.ui.raised.segments
					.ui.block.top.attached.large.header Cadastro - Techno Business
					.ui.attached.segment
						img.ui.small.centered.image(src="/images/techno_business.png")
						br
						br
						form.ui.form#register-form(method="post")
							.field
								label Usuário
								input#usernameField(type="text",name="username",placeholder="Nome de usuário")
							.two.fields
								.field
									label Senha
									input#password1Field(type="password",name="password1",placeholder="Sua senha")
								.field
									label Confirme a senha
									input#password2Field(type="password",name="password2",placeholder="Confirme sua senha")
					.ui.secondary.bottom.attached.raised.segment
						button.ui.teal.button(type="submit",form="register-form") Cadastrar-se
						a.ui.button(href="#{pathFor 'home.route'}") Cancelar
						a.ui.blue.right.floated.button(href="#{pathFor 'login.route'}") Login
