template(name="adminLayout")
	if isOffline
		.ui.active.inverted.dimmer
			.ui.text.loader Offline! Sem conexão com o servidor...
	if isLoading
		.ui.active.inverted.dimmer
			.ui.text.loader #{isLoading}
	+sidebar
	+technotronicsSidebar
	+confirmView
	.pusher
		+Template.dynamic template=menu
		+Template.dynamic template=technotronics
		.ui.fluid.container
			+Template.dynamic template=main
