template(name="loginView")
	.ui.dividing.header Login
	img.ui.small.centered.image(src="/images/techno_business.png")
	br
	.ui.two.column.grid
		.column
			.ui.facebook.fluid.icon.button#loginWithFacebookBtn
				i.facebook.icon
		.column
			.ui.google.plus.fluid.icon.button#loginWithGoogleBtn
				i.google.plus.icon
	.ui.horizontal.divider Ou
	a.ui.fluid.blue.button(href="#{pathFor 'loginPwdRoute'}")
		i.mail.icon
		|Use seu Email

template(name="loginPwdView")
	.ui.dividing.header Login
	form.ui.form#loginForm(method="post")
		img.ui.small.centered.image(src="/images/together.jpg")
		.field
			label Email
			input#emailField(type="email",name="email",autocomplete="off")
		.field
			label Senha
			.ui.action.input
				input#passwordField.hidePwd(type="tel",name="password",autocomplete="off")
				.ui.icon.button.showPasswordBtn
					i.eye.icon
		button.ui.fluid.blue.button(type="submit",form="loginForm") Entrar
		.ui.horizontal.divider Ou
		a.ui.fluid.blue.button(href="#{pathFor 'loginRoute'}")
			i.mail.icon
			|Use suas Redes Sociais
