template(name="registerView")
	.ui.dividing.header Cadastro
	form.ui.stackable.form#registerForm(method="post",novalidate="novalidate")
		.field
			label Seu Email
			input#emailField(type="tel",name="email")
		.field
			label Sua Senha
			.ui.action.input
				input#password1Field.hidePwd(type="tel",name="password1",autocomplete="off")
				.ui.icon.button.showPasswordBtn
					i.eye.icon
		.field
			label Repita a Senha
			.ui.action.input
				input#password2Field.hidePwd(type="tel",name="password2",autocomplete="off")
				.ui.icon.button.showPasswordBtn
					i.eye.icon
	br
	button.ui.blue.fluid.button(type="submit",form="registerForm") Continuar
	br
	a.ui.fluid.button(href="#{pathFor 'homeRoute'}") Cancelar

template(name="registerTwoView")
	.ui.dividing.header Cadastro
	form.ui.stackable.form#registerTwoForm(method="post",novalidate="novalidate")
		.field
			label Nome
			input(type="text",name="name")
		.field
			label Aniversário
			input#birthdayField(type="tel",name="birthday")
	br
	button.ui.blue.fluid.button(type="submit",form="registerTwoForm") Cadastre-se
	br
	a.ui.fluid.button(href="#{pathFor 'homeRoute'}") Cancelar
			
