template(name="modulo.form")
	.ui.text.menu
		.item 
			+pageHeader header='Novo Módulo'
		.right.menu
	.ui.divider
	form.ui.form#moduloForm(method="post")
		.two.fields
			.field
				label Nome
				input#nomeField(type="text",name="name")
			.field
				label Route
				input#routeField(type="text",name="route")
		.three.fields
			.field
				label Preço
				input#precoField(type="number",step="0.01",name="price")
			.field
				label Público
				select.ui.dropdown#publicoField(name="public")
					option(value="1") Sim
					option(value="0") Não
			.field
				label Beta
				select.ui.dropdown#publicoField(name="beta")
					option(value="1") Sim
					option(value="0") Não
		.actions
			a.ui.button(data-tooltip="Cancelar",href="#{pathFor 'modulo.view.route'}",data-inverted)
				i.close.icon
				|Cancelar
			button.ui.blue.button(type="submit",form="moduloForm",data-tooltip="Salvar Módulo",data-inverted) 
				i.save.icon
				|Salvar
