template(name="modulo.view")
	.ui.text.menu
		.item 
			+pageHeader header='Módulos'
		.right.menu
			.ui.nome.search.item
				.ui.icon.input
					input.prompt(type="text" placeholder="Nome")
					i.close.link.icon
			.icon.item
					+addRecordBtn tooltip='Novo Módulo'
	.ui.secondary.top.attached.segment.grid
		.row
			unless ready
				.sixteen.wide.column
					.ui.active.centered.inline.loader
			else
				if compare modulos.count 'eq' 0
					.sixteen.wide.column
						.ui.red.message
							span Nenhum módulo encontrado.
				else
					.eight.wide.column
						+counterRecords counter=modulos.count plural='Módulos' singular='Módulo'
					.eight.wide.right.aligned.column
						+paginator pages=modulos.pages page=modulos.page
		.ui.blue.top.attached.progress
			.bar
	table.ui.bottom.attached.table
		thead
			tr
				th.two.wide &nbsp;
				th.two.wide Ativo
				th Nome
				th.two.wide Preço
				th.two.wide Público
				th.two.wide Beta
		tbody
			each modulos.data
				tr
					td
						a.ui.icon.small.button.editBtn(data-tooltip="Editar Módulo" data-inverted,href="#{pathFor 'modulo.update.route' id=_id}")
							i.blue.edit.icon
						.ui.icon.small.button.removeBtn(data-tooltip="Excluir Módulo",data-inverted)
							i.red.trash.icon
					td 
						if compare active 'eq' '1'
							.ui.green.small.button#deactivateEvent(data-tooltip="Desativar Módulo",data-inverted) Sim
						else
							.ui.red.small.button#activateEvent(data-tooltip="Ativar Módulo",data-inverted) Não
					td #{name}
					td.right.aligned #{currency price}
					td.right.aligned
						if compare public 'eq' '1'
							.ui.green.small.button Sim
						else
							.ui.red.small.button Não
					td.right.aligned
						if compare beta 'eq' '1'
							.ui.green.small.button Sim
						else
							.ui.red.small.button Não
