template(name="noticia.form")
	.ui.text.menu
		.item 
			.ui.large.header Formulário de Notícias
		.right.menu
			.item
				a.ui.icon.fluid.button(data-tooltip="Cancelar",href="#{pathFor 'noticiasRoute'}",data-inverted)
					i.close.icon
			.item
				button.blue.ui.icon.fluid.button(type="submit",form="noticiasForm",data-tooltip="Salvar Notícia",data-inverted) 
					i.save.icon
	.ui.divider
	form.ui.form#noticiasForm(method="post")
		.three.fields
			.field
				label Título
				input#subjectField(type="text",name="titulo")
			.field
				label Cor
				select.ui.dropdown#publicadaField(name="cor")
					option(value="") Escolha uma opção
					option(value="blue") Azul
					option(value="green") Verde
					option(value="red") Vermelho
			.field
				label Publicada
				select.ui.dropdown#publicadaField(name="publicada")
					option(value="") Escolha uma opção
					option(value="1") Sim
					option(value="0") Não
		.field
			label Mensagem
			textarea#bodyField(name="mensagem",rows="15")
