template(name="noticia.view")
	.ui.text.menu
		.item 
			.ui.large.header Notícias
		.right.menu
			.ui.date_ini.search.item
				.ui.icon.input
					input.prompt(type="text" placeholder="Data Inicial")
					i.close.link.icon
			.ui.date_fim.search.item
				.ui.icon.input
					input.prompt(type="text" placeholder="Data Final")
					i.close.link.icon
			.ui.titulo.search.item
				.ui.icon.input
					input.prompt(type="text" placeholder="Título")
					i.close.link.icon
			.item
					.ui.blue.fluid.icon.button#addBtn(data-tooltip="Nova Notícia",data-inverted)
						i.plus.link.icon
	.ui.secondary.top.attached.segment.grid
		.row
			unless ready
				.sixteen.wide.column
					.ui.active.centered.inline.loader
			.eight.wide.column
				if ready
					+counterRecords counter=noticias.count plural='Notícias' singular='Notícia'
			.eight.wide.right.aligned.column
				if ready
					+paginator pages=noticias.pages page=noticias.page
		.ui.blue.top.attached.progress
			.bar
	table.ui.bottom.attached.table
		thead
			tr
				th.two.wide &nbsp;
				th.three.wide Data
				th.two.wide Publicada
				th Título
		tbody
			if ready
				if compare noticias.count 'eq' 0
					tr.error
						td.center.aligned(colspan="4") Nenhuma notícia encontrada.
			each noticias.data
				tr
					td
						a.ui.icon.button.editBtn(href="#{pathFor 'noticiasUpdateRoute' id=_id}")
							i.edit.blue.icon
						.ui.icon.button.removeBtn
							i.trash.red.icon
					td #{dateTimeBr date}
					td 
						if compare publicada 'eq' true
							.ui.green.label Sim
						else
							.ui.red.label Não
					td #{titulo}
	
