template(name="mensagensView")
	//.ui.basic.segment
	.ui.left.floated.header #{dateBr conversa.date}
	a.ui.right.floated.mini.icon.button(href="#{pathFor 'conversasRoute'}")
		i.chevron.left.icon
	.ui.clearing.divider
	.ui.comments(style="margin-bottom:40px")
		each conversa.mensagens
			.comment
				a.avatar
					i.big.user.icon
				.content
					a.author #{user.profile.name}
					.metadata
						.date #{dateTimeBr date}
					.text
						| #{mensagem}
	.ui.text.bottom.fixed.one.item.menu
		.item
			.ui.action.fluid.input
				input#respostaField(type="text",name="resposta")
				button.ui.blue.right.floated.button#sendRespostaBtn(type="button") Enviar
	
