template(name="conversasView")
	//.ui.basic.segment
	.ui.left.floated.header 
		|Suporte
	.ui.mini.right.floated.icon.button#novaConversaBtn
		i.plus.icon
	
	.ui.clearing.divider
		
	unless conversas
		.ui.loading.message Carregando...
	else
		if compare conversas.count 'eq' 0
			.ui.red.message 
				p Nenhum chamado encontrado
		each conversas.data
			a.ui.icon.message(href="#{pathFor 'mensagensRoute' id=_id}")
				i.mail.icon
				.content
					.header #{assunto}
					small #{dateTimeBr date}
