template(name="entidade.configure.usuario")
	.ui.text.menu
		.item 
			.ui.large.header Configuração da Entidade
	+Template.dynamic template='entidade.configure.menu'
	.ui.bottom.attached.segment
		.ui.grid
			.row
				.eight.wide.column
					if compare usuarios.length 'eq' 0
						.ui.red.message
							span Nenhum usuário encontrado.
					else
						+counterRecords counter=usuarios.length plural='Usuários' singular='Usuário'
				.eight.wide.right.aligned.column
					.ui.dropdown.labeled.icon.button#selectModulo
						i.block.layout.icon
						span.text Adicione um Usuário
						.menu
							each usuarios_disponiveis
								.item(data-value="#{_id}") #{nome}
		table.ui.table
			thead
				tr
					th.two.wide &nbsp;
					th.two.wide Ativo
					th Nome
			tbody
				each usuarios
					tr
						td
							a.ui.icon.button#configureEvent(data-tooltip="Configurar Usuário",data-inverted)
								i.blue.edit.icon
							a.ui.icon.button#removeEvent(data-tooltip="Excluir Usuário",data-inverted)
								i.red.trash.icon
						td 
							if compare active 'eq' '1'
								.ui.green.button#deactivateEvent(data-tooltip="Desativar Usuário",data-inverted) Sim
							else
								.ui.red.button#activateEvent(data-tooltip="Ativar Usuário",data-inverted) Não
						td #{usuario.profile.nome}
