template(name="entidade.configure.modulo")
	.ui.text.menu
		.item 
			.ui.large.header Configuração da Entidade
	+Template.dynamic template='entidade.configure.menu'
	.ui.bottom.attached.segment
		.ui.grid
			.row
				.eight.wide.column
					if compare modulos.length 'eq' 0
						.ui.red.message
							span Nenhum módulo encontrado.
					else
						+counterRecords counter=modulos.length plural='Módulos' singular='Módulo'
				.eight.wide.right.aligned.column
					.ui.dropdown.labeled.icon.button#selectModulo(class="#{addClassIf 'disabled' modulos_disponiveis.length 0 'eq'}")
						i.block.layout.icon
						span.text Adicione um Módulo
						.menu
							each modulos_disponiveis
								.item(data-value="#{_id}") #{name}
		table.ui.table
			thead
				tr
					th.two.wide &nbsp;
					th.two.wide Ativo
					th Nome
			tbody
				each modulos
					tr
						td
							a.ui.icon.button#configureEvent(data-tooltip="Configurar Módulo",data-inverted)
								i.blue.edit.icon
							a.ui.icon.button#removeEvent(data-tooltip="Excluir Módulo",data-inverted)
								i.red.trash.icon
						td 
							if compare active 'eq' '1'
								.ui.green.button#deactivateEvent(data-tooltip="Desativar Módulo",data-inverted) Sim
							else
								.ui.red.button#activateEvent(data-tooltip="Ativar Módulo",data-inverted) Não
						td #{modulo.name}
