template(name="admin.layout")
	if isLoading
		.ui.active.inverted.dimmer
			.ui.text.loader Carregando...
	+Template.dynamic template='modal.loader'
	.ui.container
		+Template.dynamic template=menu
		.main
			+Template.dynamic template=main
