template(name="aniversariosView")
	.ui.dividing.header Aniversariantes do Mês
	each aniversariantes
		.ui.icon.message
			i.birthday.icon
			.content
				.header #{profile.name}
				p #{dateBr profile.birth}
