template(name="entidade.configure.menu")
	.ui.tabular.top.attached.menu#configureMenu
		a.item(class="#{isActiveRoute regex='^entidade.configure.route'}",href="#{pathFor 'entidade.configure.route' id=id}") Módulos
		a.item(class="#{isActiveRoute regex='^entidade.configure.usuario'}",href="#{pathFor 'entidade.configure.usuario.route' id=id}") Usuários
