template(name="main.menu")
	.ui.header
		img.ui.image(src="/images/techno_business.png")
		.content
			|Techno Business
	.ui.secondary.pointing.menu#mainMenu
		a.icon.item(class="#{isActiveRoute regex='^home'}",href="#{pathFor 'home.route'}")
			i.home.icon
		if userId
			if hasRole 'logged' 'Entidade' 'user-type'
				a.item(class="#{isActiveRoute regex='^noticia.'}",href="#{pathFor 'noticia.view.route'}") Notícias
				a.item(class="#{isActiveRoute regex='^galeria.'}",href="#{pathFor 'galeria.view.route'}") Galerias
				a.item(class="#{isActiveRoute regex='^enquete.'}",href="#{pathFor 'enquete.view.route'}") Enquetes
				a.item(class="#{isActiveRoute regex='^suporte.'}",href="#{pathFor 'suporte.view.route'}") Suporte
				a.item(class="#{isActiveRoute regex='^user.'}",href="#{pathFor 'user.view.route'}") Usuários
			.right.menu
				if hasRole 'logged' 'Super Administrador' 'user-type'
					a.item(class="#{isActiveRoute regex='^entidade.'}",href="#{pathFor 'entidade.view.route'}") Entidades
					a.item(class="#{isActiveRoute regex='^modulo.'}",href="#{pathFor 'modulo.view.route'}") Módulos
				a.item#logoutEvent Sair
		else
			.right.menu
				a.blue.item#registerEvent(href="#") Cadastre sua Empresa
				a.blue.item#loginEvent(href="#") Fazer o Login
