template(name="fotosView")
	.ui.left.floated.header Fotos da Galeria
	a.ui.right.floated.mini.icon.button(href="#{pathFor 'galeriasRoute'}")
		i.chevron.left.icon
	.ui.clearing.divider
	each fotos
		.ui.fluid.card
			.image
				img(src="https://club7.technotronics.cc/fotoDaGaleria/#{_id}")
