template(name="galeriasView")
	.ui.left.floated.header Galerias de Fotos
	.ui.clearing.divider
	each galerias
		a.ui.link.fluid.card(href="#{pathFor 'fotosRoute' id=_id}")
			.image
				img(src="https://club7.technotronics.cc/fotoDaGaleria/#{capa_id}")
			.content
				.left.floated.header #{titulo}
				.ui.red.right.floated.label #{fotos.length}
