template(name="formGaleriasView")
	.ui.text.menu
		.item 
			.ui.large.header Formulário de Galeria de Fotos
		.right.menu
			.item
				a.ui.fluid.icon.button(href="#{pathFor 'galeriasRoute'}",data-tooltip="Cancelar",data-inverted)
					i.close.icon
			.item
				button.blue.ui.fluid.icon.button(type="submit",form="galeriasForm",data-tooltip="Salvar Galeria",data-inverted) 
					i.save.icon
	form.ui.form#galeriasForm(method="post")
		.two.fields
			.field
				label Nome
				input#nomeField(type="text",name="nome")
			.field
				label Publicada
				select.ui.dropdown#publicadaField(name="publicada")
					option(value="") Escolha uma opção
					option(value="1") Sim
					option(value="0") Não
	if galeria_id
		.ui.divider
		.ui.segment.dropzoneDiv.dropzone(style="min-height:100px")
		.ui.text.menu
			.item 
				.ui.large.header Fotos da Galeria
		if fotos
			if compare fotos.length 'gt' 0
				.ui.four.column.grid
					each fotos
						.column
							.ui.fluid.card(class="#{addClassIf 'blue' _id capa_id 'eq'}")
								.content
									a.left.floated.header #{originalname} #{galeria.capa_id}
								.image
									img(src="/fotoDaGaleria/#{_id}")
								.extra.content
									.ui.blue.mini.left.floated.icon.button.capaBtn(data-tooltip="Capa da Galeria",data-inverted)
										i.image.icon
									.ui.red.mini.right.floated.icon.button.deleteBtn(data-tooltip="Excluir Foto",data-inverted)
										i.trash.icon
		else
			.ui.red.message Nenhuma foto encontrada nesta galeria
