template(name="galeriasView")
	.ui.text.menu
		.item 
			.ui.large.header Galerias de Fotos
		.right.menu
			.ui.nome.search.item
				.ui.icon.input
					input.prompt(type="text" placeholder="Nome")
					i.close.link.icon
			.item
				a.ui.mini.icon.button#addBtn(href="#{pathFor 'galeriasInsertRoute'}",data-tooltip="Nova Galeria",data-inverted)
					i.blue.plus.icon
	.ui.secondary.top.attached.segment.grid
		.row
			unless ready
				.sixteen.wide.column
					.ui.active.centered.inline.loader
			if ready
				.eight.wide.column
						.ui.left.labeled.button
							.ui.basic.right.pointing.label #{galerias.count}
							.ui.blue.button
								if compare galerias.count 'gt' 1
									|Galerias
								else
									|Galeria
				.eight.wide.right.aligned.column
					+paginator pages=galerias.pages
		.ui.blue.top.attached.progress
			.bar
	table.ui.bottom.attached.single.line.selectable.table
		thead
			tr
				th.two.wide
				th.one.wide Publicada
				th.two.wide Data
				th Nome
				th.two.wide Qtd Fotos
		tbody
			if ready
				if compare galerias.count 'eq' 0
					tr.error
						td.center.aligned(colspan="5") Nenhuma galeria encontrada.
			each galerias.data
				tr
					td.center.aligned
						.ui.icon.button.small.editBtn
							i.blue.edit.icon
						a.ui.icon.small.button.removeBtn
							i.red.trash.icon
					td.center.aligned 
						if compare publicada 'eq' true
							.ui.green.small.button Sim
						else
							.ui.red.small.button Não
					td #{dateBr date}
					td #{nome}
					td.right.aligned 
						.ui.small.button #{fotos.length}
	
