template(name="sidebar")
	.ui.violet.left.sidebar.inverted.vertical.menu
		a.item(href="#{pathFor 'homeRoute'}")
			i.home.icon
			|Home
		if userId
			unless isSuspended
				a.item(href="#{pathFor 'noticiasRoute'}")
					i.newspaper.icon
					|Notícias
				a.item(href="#{pathFor 'aniversariosRoute'}")
					i.birthday.icon
					|Aniversariantes
				a.item(href="#{pathFor 'galeriasRoute'}")
					i.image.icon
					|Galerias
				a.item(href="#{pathFor 'conversasRoute'}")
					i.question.icon
					|Suporte
				//a.item(href="#{pathFor 'enquetesRoute'}") Enquetes
			else
				a.item(href="#{pathFor 'suspensoRoute'}")
					i.exclamation.icon
					|Usuário Suspenso
				a.item(href="#{pathFor 'conversasRoute'}")
					i.question.icon
					|Suporte
		else
			a.item(href="#{pathFor 'loginRoute'}")
				i.power.icon
				|Login
			a.item(href="#{pathFor 'registerRoute'}")
				i.add.user.icon
				|Cadastre-se
