template(name="topMenu")
	.ui.inverted.blue.secondary.top.fixed.menu
		.item.toggleSidebar
			i.sidebar.icon
		.right.menu
			if hasUpdate
				.item
					.ui.tiny.icon.button#reloadBtn
						i.red.loading.refresh.icon
			else
				if isLogged
					.icon.item#logoutBtn
						i.power.icon
				else
					a.icon.item(href="#{pathFor 'loginRoute'}")
						i.power.icon
