template(name="conversasView")
	.ui.dividing.header Conversas
	table.ui.table
		thead
			tr
				th.two.wide
				th Associado
				th Data
		tbody
			each conversas.data
				tr
					td
						a.ui.icon.button(href="#{pathFor 'mensagensRoute' id=_id}")
							i.eye.icon
					td #{remetente.profile.name}
					td #{dateTimeBr date}
