template(name="talkView")
	.ui.left.floated.header #{conversa.remetente.profile.name}
	.ui.clearing.divider
	.ui.comments(style="margin-bottom:40px")
		each conversa.mensagens
			.comment
				a.avatar
					i.big.user.icon
				.content
					a.author #{remetente.profile.name}
					.metadata
						.date #{dateTimeBr date}
					.text
						| #{mensagem}
	.ui.action.fluid.input
		input#respostaField(type="text",name="resposta")
		button.ui.blue.right.floated.button#sendRespostaBtn(type="button") Enviar
	
