template(name="confirmView")
	.ui.small.modal.transition.hidden#confirmView
		.header #{confirmView.title}
		.content
			p !{confirmView.message}
		.actions
			.ui.negative.button Não
			.ui.positive.right.labeled.icon.button
				|Sim
				i.checkmark.icon
