template(name="technotronicsSidebar")
	.ui.bottom.wide.sidebar#technotronicsSidebar(style="box-shadow:none !important")
		.ui.basic.segment
			img.ui.centered.image(src="/images/technotronics.png")
			.ui.info.message
				p Desenvolvimento de aplicativos web para PC, Android e iOS.
			.ui.fluid.inverted.teal.vertical.menu
				//.item
					i.home.icon
					|https://technotronics.com.br
				.item 
					i.phone.icon
					|Tel: 61 98434-9585 / 99689-4908
				.item
					i.mail.icon
					|Email: vendas@technotronics.com.br
