template(name="login.modal")
	.ui.small.modal.transition.hidden#loginModal
		.header Login - Techno Business
		.content
			table.ui.celled.table
				thead
					tr.center.aligned
						th Use suas Contas Sociais
						th Use seu Email
				tbody
					tr
						td
							form.ui.form#socialForm(method="post")
								.field
									.ui.google.plus.fluid.right.labeled.icon.button#loginWithGoogle(class="#{addClassIf 'disabled' aceite false 'eq'}")
										i.google.plus.icon
										|Login com Google
								.field
									.ui.facebook.fluid.right.labeled.icon.button#loginWithFacebook(class="#{addClassIf 'disabled' aceite false 'eq'}")
										i.facebook.icon
										|Login com Facebook
								//.field
									.ui.twitter.fluid.right.labeled.icon.button#loginWithTwitter(class="#{addClassIf 'disabled' aceite false 'eq'}")
										i.twitter.icon
										|Login com Twitter
								//.field
									.ui.linkedin.fluid.right.labeled.icon.button#loginWithLinkedin(class="#{addClassIf 'disabled' aceite false 'eq'}")
										i.linkedin.icon
										|Login com Linkedin
								//.field
									.ui.black.fluid.right.labeled.icon.button#loginWithGithub(class="#{addClassIf 'disabled' aceite false 'eq'}")
										i.github.icon
										|Login com Github
						td
							form.ui.form#login-form(method="post",novalidate="novalidate")
								.field
									.ui.icon.input
										i.mail.icon
										input#emailField(type="text",name="username",placeholder="Seu Email",autocomplete="off")
								.field
									.ui.icon.input
										i.key.icon
										input#passwordField(type="password",name="password",placeholder="Sua senha",autocomplete="off")
								.field
									button.ui.blue.fluid.submit.right.labeled.icon.button(class="#{addClassIf 'disabled' aceite false 'eq'}")
										i.mail.icon
										|Entrar
								.field
									.ui.fluid.right.labeled.icon.button
										i.lock.icon
										|Recupere sua Senha
								.field
									.ui.violet.fluid.right.labeled.icon.button#registerEvent
										i.write.icon
										|Cadastre-se
		.actions
			.ui.checked.checkbox#aceiteChk
				input(type="checkbox",name="aceite",checked)
				label Aceito os Termos e Condições de Uso
