template(name="register.modal")
	.ui.small.modal.transition.hidden#registerModal
		.header Cadastro - Techno Business
		.content
			table.ui.celled.table
				thead
					tr.center.aligned
						th Use suas Contas Sociais
						th Use seu Email
				tbody
					tr
						td
							form.ui.form#socialForm(method="post")
								.field
									.ui.google.plus.fluid.right.labeled.icon.button#loginWithGoogle(class="#{addClassIf 'disabled' aceite false 'eq'}")
										i.google.plus.icon
										|Cadastro com Google
								.field
									.ui.facebook.fluid.right.labeled.icon.button#loginWithFacebook(class="#{addClassIf 'disabled' aceite false 'eq'}")
										i.facebook.icon
										|Cadastro com Facebook
								//.field
									.ui.twitter.fluid.right.labeled.icon.button#loginWithTwitter(class="#{addClassIf 'disabled' aceite false 'eq'}")
										i.twitter.icon
										|Cadastro com Twitter
								//.field
									.ui.linkedin.fluid.right.labeled.icon.button#loginWithLinkedin(class="#{addClassIf 'disabled' aceite false 'eq'}")
										i.linkedin.icon
										|Cadastro com Linkedin
								//.field
									.ui.black.fluid.right.labeled.icon.button#loginWithGithub(class="#{addClassIf 'disabled' aceite false 'eq'}")
										i.github.icon
										|Cadastro com Github
						td
							form.ui.form#register-form(method="post",novalidate="novalidate")
								.field
									.ui.icon.input
										i.mail.icon
										input#emailField(type="text",name="username",placeholder="Seu Email",autocomplete="off")
								.field
									.ui.icon.input
										i.key.icon
										input#passwordField1(type="password",name="password1",placeholder="Sua senha",autocomplete="off")
								.field
									.ui.icon.input
										i.key.icon
										input#passwordField2(type="password",name="password2",placeholder="Repita sua senha",autocomplete="off")
								.field
									button.ui.blue.fluid.submit.right.labeled.icon.button(class="#{addClassIf 'disabled' aceite false 'eq'}")
										i.mail.icon
										|Cadastre-se
								.field
									.ui.fluid.violet.right.labeled.icon.button#loginEvent
										i.write.icon
										|Login
		.actions
			.ui.checked.checkbox#aceiteChk
				input(type="checkbox",name="aceite",checked)
				label Aceito os Termos e Condições de Uso
