template(name="entidade.form")
	.ui.text.menu
		.item 
			.ui.large.header Formulário de Entidades
		.right.menu
	.ui.divider
	form.ui.form#entidade-form(method="post")
		.two.fields
			.field
				label Nome
				input#nomeField(type="text",name="name")
			.field
				label Beta Tester
				select.ui.dropdown#publicoField(name="beta")
					option(value="1") Sim
					option(value="0") Não
		.actions
			a.ui.button(data-tooltip="Cancelar",href="#{pathFor 'entidade.view.route'}",data-inverted)
				i.close.icon
				|Cancelar
			button.ui.blue.button(type="submit",form="entidade-form",data-tooltip="Salvar Entidade",data-inverted) 
				i.save.icon
				|Salvar
