template(name="entidade.view")
	.ui.text.menu
		.item 
			+pageHeader header='Entidades'
		.right.menu
			.ui.nome.search.item
				.ui.icon.input
					input.prompt(type="text" placeholder="Nome")
					i.close.link.icon
				.ui.hostname.search.item
					.ui.icon.input
						input.prompt(type="text" placeholder="Hostname")
						i.close.link.icon
			.icon.item
					+addRecordBtn tooltip='Nova Entidade'
	.ui.secondary.top.attached.segment.grid
		.row
			unless ready
				.sixteen.wide.column
					.ui.active.centered.inline.loader
			else
				if compare entidades.count 'eq' 0
					.sixteen.wide.column
						.ui.red.message
							span Nenhuma Entidade encontrada.
				else
					.eight.wide.column
						+counterRecords counter=entidades.count plural='Entidades' singular='Entidade'
					.eight.wide.right.aligned.column
						+paginator pages=entidades.pages page=entidades.page
		.ui.blue.top.attached.progress
			.bar
	table.ui.bottom.attached.table
		thead
			tr
				th.three.wide &nbsp;
				th.two.wide Ativa
				th Nome
		tbody
			each entidades.data
				tr
					td
						a.ui.icon.button.editBtn(data-tooltip="Editar Entidade" data-inverted,href="#{pathFor 'entidade.update.route' id=_id}")
							i.blue.edit.icon
						a.ui.icon.button.editBtn(data-tooltip="Configurar Entidade" data-inverted,href="#{pathFor 'entidade.configure.route' id=_id}")
							i.violet.setting.icon
						.ui.icon.button.removeBtn(data-tooltip="Excluir Entidade",data-inverted)
							i.red.trash.icon
					td 
						if compare active 'eq' '1'
							.ui.green.button#deactivateEvent(data-tooltip="Desativar Entidade",data-inverted) Sim
						else
							.ui.red.button#activateEvent(data-tooltip="Ativar Entidade",data-inverted) Não
					td #{name}
	
