template(name="usuariosFormView")
	.ui.dividing.header Formulário de Usuário
	form.ui.form#usuariosForm(method="post",novalidate="novalidate")
		unless isNew
			.three.fields
				.field
					label Usuário
					input#usernameField(type="text",name="username")
				.field
					label Email
					input#emailField(type="text",name="email")
				.field
					label Entidade
					select.ui.search.dropdown#entidadeField(name="tipo")
						option(value="") Escolha a Entidade
						each entidades
							option(value="#{_id}") #{nome}
			.two.fields
				.field
					label Senha
					input.hidePwd#password1Field(type="text",name="password1")
				.field
					label Repita a Senha
					input.hidePwd#password2Field(type="text",name="password2")
		.ui.divider
		.two.fields
			.field
				label Nome
				input#nomeField(type="text",name="nome")
			.field
				label Tipo
				select.ui.dropdown#tipoField(name="tipo")
					option(value="") Escolha o Tipo de Usuário
					option(value="Super Administrador") Super Administrador
					option(value="Entidade") Entidade
		.actions
			button.ui.blue.button(type="submit",form="usuariosForm") Gravar
			a.ui.button(href="#{pathFor 'usuariosRoute'}") Cancelar
