template(name="usuariosView")
	.ui.text.menu
		.item 
			+pageHeader header="Usuários"
		.right.menu
			.ui.cpf.search.item
				.ui.icon.input
					input.prompt(type="text" placeholder="CPF")
					i.close.link.icon
			.nome.search.item
				.ui.icon.input
					input.prompt(type="text" placeholder="Nome")
					i.close.link.icon
			.item
				+addRecordBtn tooltip="Adicionar Usuário"
	.ui.secondary.top.attached.segment.grid
		.row
			unless ready
				.sixteen.wide.column
					.ui.active.centered.inline.loader
			.eight.wide.column
				+counterRecords counter=usuarios.count singular="Usuário" plural="Usuários"
			.eight.wide.right.aligned.column
				if ready
					+paginator pages=usuarios.pages page=usuarios.page
		.ui.blue.top.attached.progress
			.bar
	table.ui.bottom.attached.table
		thead
			tr
				th.two.wide &nbsp;
				th.three.wide Email
				th Nome
				th Rede Social
				th Perfil
				th.two.wide Situação
		tbody
			if ready
				if compare usuarios.count 'eq' 0
					tr.error
						td.center.aligned(colspan="5") Nenhum usuário encontrado.
				each usuarios.data
					tr
						td
							a.ui.icon.button.editBtn(href="#{pathFor 'usuariosUpdateRoute' id=_id}",data-tooltip="Editar Usuário",data-inverted)
								i.edit.blue.icon
							.ui.icon.button.removeBtn(data-tooltip="Excluir Usuário",data-inverted)
								i.trash.red.icon
						td #{firstEmail emails}
						td #{profile.name}
						td 
							if services.password
								|Email e Senha
							if services.facebook
								|Facebook
							if services.google
								|Google
						td #{getRolesForUser _id 'user-type'}
						td
							if hasRole _id 'Suspenso' 'user-status'
								.ui.red.small.fluid.button#activateUserBtn(data-tooltip="Ativar Usuário",data-inverted) Suspenso
							else if hasRole _id 'Novo' 'user-status'
								.ui.yellow.small.fluid.button#activateUserBtn(data-tooltip="Ativar Usuário",data-inverted) Novo
							else if hasRole _id 'Ativo' 'user-status'
								.ui.green.small.fluid.button#suspendUserBtn(data-tooltip="Suspender Usuário",data-inverted) Ativo
