template(name="noticiasDetalheView")
	//.ui.basic.segment
	.ui.left.floated.header #{noticia.titulo}
	a.ui.mini.right.floated.icon.button(href="#{pathFor 'noticiasRoute'}")
		i.chevron.left.icon
	.ui.clearing.divider
	p !{noticia.mensagem}
	.ui.divider
