template(name="noticiasView")
	//.ui.basic.segment
	.ui.dividing.header Notícias
	if compare noticias.count 'eq' 0
		.ui.icon.orange.message
			i.warning.icon
			.content
				.header Nenhuma notícia publicada!
				small Aguarde que embreve teremos novidades.
	else
		each noticias.data
			a.ui.icon.message(class="#{cor}",href="#{pathFor 'noticiasDetalheRoute' id=_id}")
				i.inbox.icon
				.content
					.header #{titulo}
					small #{dateTimeBr date}
